<%= form_with model: @teacher, local: true do |f| %> 
<div class="form-group row">
  <%= f.label :picture, 'Фото', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.file_field :picture %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :last_name, 'Фамилия', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :last_name, class:"form-control"%>
  </div>
</div>
<div class="form-group row">
  <%= f.label :first_name, 'Имя', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :first_name, class:"form-control"%>
  </div>
</div>
<div class="form-group row">
  <%= f.label :middle_name, 'Отчество', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :middle_name, class:"form-control"%>
  </div>
</div>

<div class="form-group row">
  <%= f.label :email, class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :email, class:"form-control"%>
  </div>
</div>
<div class="form-group row">
  <%= f.label :tel_1, 'Тел', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :tel_1, class:"form-control"%>
  </div>
</div>
<div class="form-group row">
  <%= f.label :tel_2, 'Доп тел', class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :tel_2, class:"form-control"%>
  </div>
</div>
<div class="form-group row">
  <%= f.label :telegram, class:"col-sm-2 col-form-label"%>
  <div class="col-sm-10">
    <%= f.text_field :telegram, class:"form-control"%>
  </div>
</div>

 
<%= f. submit @teacher.new_record? ? 'Создать' : 'Изменить', class:'btn btn-primary' %>
<% end %>