<h1>Преподователь</h1>
<% if @teacher.picture.attached? %>
      <%= image_tag @teacher.picture, size: 50 %>
  <% end %></br>
  
  <%= @teacher.first_name %>
  <%= @teacher.last_name %>
  <%= @teacher.middle_name %>

  Еmail: <p><%= @teacher.email %></p>
  Телефон_1: <p><%= @teacher.tel_1 %></p>
  Телефон_2: <p><%= @teacher.tel_2 %></p>
  Телеграмм: <p><%= @teacher.telegram %></p>
</tr>

<%= link_to 'Back' %>