<%= form_with model: [:admin, @theme], local: true do |f| %>
<div class="form-group row">
	<%= f.label :number, 'Номер темы', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.text_field :number, class:"form-control" %>
	</div>
</div>
<div class="form-group row">
	<%= f.label :title, 'Название темы', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.text_field :title, class:"form-control" %>
	</div>
</div>
<div class="form-group row">
	<%= f.label :addition, 'Дополнения', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.text_field :addition, class:"form-control" %>
	</div>
</div>
<div class="form-group row">

	<%= f.label :group_id, 'Курс', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.select(:group_id, Group.all.collect {|g| [g.name, g.id]}, { :prompt => 'Выбрать' }, { :class => 'form-control' }) %>

	<%= f.label :group_id, 'Группа', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.select(:group_id, Group.all.collect {|c| [c.name, c.id]}, { :prompt => 'Выбрать' }, { :class => 'form-control' }) %>

	</div>
</div>

<div class="form-group row">
	<%= f.label :content, 'Раздаточный материал урока', class:"col-sm-2 col-form-label" %>
	<div class="col-sm-10">
		<%= f.text_area :content, class:"tinymce" %>
	</div>
	<%= tinymce %>
</div>
<div>
	<%= f.submit @theme.new_record? ? 'Создать' : 'Изменить', class:'btn btn-primary' %>
</div>
<% end %>