<h3>Полученные домашки на тему <%= "#{@lesson.theme.title}"%></h3>

<table class="table-striped w-100 mt-4">
    <tr>
        <th>ФИО</th>
        <th>Статус </th>
        <th>Рецензия</th>
        <th>Оценка</th>
    </tr>
      <% @lesson.homeworks.each do |homework| %>
    <tr>
        <td>
            <% @students_who_not_sended.each do |student|%>
            <%= "#{student.first_name} #{student.last_name}"%>
            <%end%><br>
            <% @send_homework.each do |student|%>
            <%= "#{student.first_name} #{student.last_name}"%>
            <%end%>
        </td>
        <td><%= link_to "Скачать домашку", homework.homework_file %></td>
        <td>
            <% if homework.review.nil? %>
                <%= link_to "Создать рецензию",new_admin_lesson_review_path%>
            <%else%>
                <%= link_to "Редактровать рецензию",edit_admin_lesson_review_path(@lesson,homework.review) %>
        </td>
        <td><%= homework.review.rate%></td>
            <%end%>
     <%end%>
    <tr>