<h2><%= @group.name %></h2>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-students" role="tab" aria-controls="nav-home" aria-selected="true">Студенты</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-themes" role="tab" aria-controls="nav-profile" aria-selected="false">Программа курса</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-lessons" role="tab" aria-controls="nav-contact" aria-selected="false">Занятия</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-homeworks" role="tab" aria-controls="nav-contact" aria-selected="false">Домашние задания</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-contact" aria-selected="false">Рецензии</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-students" role="tabpanel" aria-labelledby="nav-home-tab">
	<table class="table-striped w-100 mt-4">
		<tr>
			<th>Имя</th>
			<th>Email</th>
			<th>Тел</th>
			<th>Тел(2)</th>
			<th>Группа</th>
			<th colspan="3">Действия</th>
		</tr>
	<% @students.each do |student|%>
		<tr>
			<td><%= link_to "#{student.first_name} #{student.last_name}", admin_student_path(student)%></td>
			<td><%= student.email %></td>
			<td><%= student.tel_1 %></td>
			<td><%= student.tel_2 %></td>
			<td><%= link_to "#{student.group.name}", admin_group_path(@group) %></td>
			<td>
				<%= link_to (fa_icon "edit"), edit_admin_student_path(student), class:"font" %>
				<%= link_to (fa_icon "trash"), admin_student_path(student), class:"font" %>
				<% if student.contract.present? %>
					<%= link_to student.contract.number, admin_contracts_path << "/#{student.contract.number}.pdf"  %>
				<% else %>
					<%= link_to 'Заключить договор', admin_contracts_path(student_id: student), method: :post%>
				<% end %>
			</td>
		</tr>
	<% end%>
	</table>
  </div>
  <div class="tab-pane fade" id="nav-themes" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<table class="table-striped w-100 mt-4">
		<tr>
			<th>Номер темы</th>
			<th>Название темы</th>
			<th>Доп материал</th>
			<th colspan="3">Действия</th>
		</tr>
	<% @themes.each do |theme|%>
		<tr>
			<td>#<%= theme.number %></td>
			<td><%= link_to theme.title, admin_theme_path(theme) %></td>
			<td><%= theme.addition %></td>
			<td>
				<%= link_to (fa_icon "edit"), edit_admin_theme_path(theme), class:"font" %>
				<%= link_to (fa_icon "trash"), admin_theme_path(theme), class:"font" %>
			</td>
		</tr>
	<% end%>
	</table>
  </div>
  <div class="tab-pane fade" id="nav-lessons" role="tabpanel" aria-labelledby="nav-contact-tab">
  	<table class="table-striped w-100 mt-4">
		<tr>
			<th>Номер занятия</th>
			<th>Тема занятия</th>
			<th>Дата занятия</th>
			<th>Доп материал</th>
			<th colspan="3">Действия</th>
		</tr>
	<% @lessons.each do |lesson|%>
		<tr>
			<td>#<%= lesson.theme.number %></td>
			<td><%= link_to lesson.theme.title, admin_theme_path(lesson.theme_id) %></td>
			<td><%= lesson.date %></td>
			<td><%= lesson.theme.addition %></td>
			<td>
				<%= link_to (fa_icon "edit"), edit_admin_lesson_path(lesson), class:"font" %>
				<%= link_to (fa_icon "trash"), admin_lesson_path(lesson), class:"font" %>
			</td>
  		<% end%>
		</tr>
	</table>

  </div>

  <div class="tab-pane fade" id="nav-homeworks" role="tabpanel" aria-labelledby="nav-contact-tab">
  	<table class="table-striped w-100 mt-4">
  		<tr>
			<th>Номер домашки</th>
			<th>Название домашки</th>
			<th>Сдали/Студенты</th>
			<th>Пров./Не пров.</th>
			<th>Новые/Все</th>
		</tr>
  		<tr>
  		<% @lessons.each do |lesson|%>
			<td>#<%= lesson.theme.number %></td>
			<td><%= link_to lesson.theme.title, admin_lesson_homeworks_path(lesson) %></td>
			<td>
				<%= lesson.homeworks.size %>/<%= @group.students.size %>				
			</td>
		</tr>
			<%end%>
  	</table>
  </div>

  <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-contact-tab">
  	<table class="table-striped w-100 mt-4">
  		<tr>
			<th>Номер занятия</th>
			<th>Тема занятия</th>
		</tr>
  		<tr>
  		<% @lessons.each do |lesson|%>
			<td>#<%= lesson.theme.number %></td>
			<td><%= link_to lesson.theme.title, admin_lesson_homeworks_path(lesson)  %></td>
			<td>
								
			</td>
		</tr>
			<%end%>
  	</table>
  </div>
</div>
  
</div>